.footer {
  height: 95px;
  padding: 60px;
  background-color: #44414D;
  text-align: center;
  color: #9DA5B0;
}
.links {
  margin: 0 auto;
}
.links li{
  display: inline;
}

.links a {
  color:#868513;
  font-size: 30px;
  opacity: 0.6;
}

.links a:hover {
  opacity: 1;
}
